* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: circular;
  font-weight: 100;
}
body {
  scroll-behavior: smooth;
  background-color: #000000;
  color: whitesmoke;
}
:root {
  --bg-primary: #121212;
  --bg-header: #242424;
  --bg-nav: #090909;
}
@font-face {
  font-family: circular;
  src: url("/spotify/circular-std-medium-500-webfont.woff");
}
.nav-header-main .library .fa-landmark {
  font-size: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 0.5rem;
  grid-area: "section1";
  max-width: 435px;
  position: fixed;
  height: 100%;
  /* background-color: var(--bg-primary); */
  /* border-right: 1px solid white; */
}
.main-nav {
  display: flex;
  gap: 1.3rem;
  background-color: var(--bg-primary);
  padding: 1rem;
  border-radius: 0.5rem;
  flex-direction: column;
}
.main-nav .brand {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}
.main-nav .brand > .fa-spotify {
  font-size: 24px;
  color: #1ed760;
  /* color: white; */
}
.fi-tr-rectangle-vertical-history {
  color: #b3b3b3;
  font-size: 24px;
}
.fi-tr-rectangle-vertical-history:hover {
  color: white;
}
.main-nav .home {
  display: flex;
  gap: 1rem;
  color: #b3b3b3;
  align-items: center;
}
.main-nav .home > .fa-house {
  font-size: 25px;
}
.main-nav .search {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main-nav .search > .fa-magnifying-glass {
  font-size: 24px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-primary);
  padding: 1.5rem;
  height: 100%;
  border-radius: 0.5rem;
}
.nav-header {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.nav-header-main {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  color: #b3b3b3;
}
.library:hover {
  color: white;
}
.library {
  display: flex;
  gap: 1rem;
  /* align-items: center; */
}
.fa-plus {
  font-size: 25px;
}
.fa-plus:hover {
  color: white;
}
.nav-header-playlist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-header);
  padding: 1rem;
  border-radius: 0.5rem;
}
.nav-header-playlist h1 {
  font-size: 1rem;
}
.nav-header-playlist h2 {
  font-size: 14px;
}
.nav-header-playlist button {
  margin-top: 5px;
  border: none;
  background-color: white;
  padding: 0.5rem;
  width: 130px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  border-radius: 1rem;
}
.nav-header-podcast {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-header);
  padding: 1rem;
  border-radius: 0.5rem;
}
.nav-header-podcast h1 {
  font-size: 1rem;
}
.nav-header-podcast h2 {
  font-size: 14px;
}
.nav-header-podcast button {
  margin-top: 5px;
  border: none;
  background-color: white;
  padding: 0.5rem;
  width: 130px;
  cursor: pointer;
  color: black;
  font-size: 14px;
  border-radius: 1rem;
}
.nav-footer-sitemap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
.footer-nav-one {
  display: flex;
  gap: 0.5rem;
  font-size: 11px;
  color: #b3b3b3;
}
.footer-nav-two {
  display: flex;
  gap: 0.5rem;
  font-size: 11px;
  color: #b3b3b3;
}
.footer-nav-three {
  display: flex;
  gap: 0.5rem;
  font-size: 11px;
  color: #b3b3b3;
  padding-bottom: 2rem;
}
.footer-change-language button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #000000;
  color: whitesmoke;
  font-size: 14px;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 1rem;
  width: 100px;
}
.fa-globe {
  font-size: 14px;
}
/* body starts here */
.search-container {
  display: flex;
  grid-area: "section2";
  flex-direction: column;

  margin-left: 23rem;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #000000;
}
.search-input {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.search-input-box {
  padding: 0.5rem;
  display: flex;
  background-color: var(--bg-header);
  gap: 0.5rem;
  align-items: center;
  color: #b3b3b3;
  border-radius: 1.5rem;
}
.search-input-box input[type="text"] {
  background-color: #242424;
  border: 0;
  outline: none;
  height: 30px;
  width: 310px;
  color: white;
  border-radius: 1.5rem;
}

.search-input-box:hover {
  border: 2px solid white;
  color: white;
}
/* .search-input-box input[type="search"]:focus.search-input-box {
  border: 0;
  border: 1px white;
} */
.user-profile {
  display: flex;
  gap: 2rem;
  margin-right: 24rem;
  align-items: center;
}
.user-profile #sign-up {
  border: none;
  background-color: #000000;
  color: #b3b3b3;
  font-size: 16px;
}
.user-profile #sign-up:hover {
  color: white;
  cursor: pointer;
  transform: scale(0.98);
  filter: brightness(170%);
}
.user-profile #log-in {
  border-radius: 1.5rem;
  border: none;
  padding: 1rem 0.5rem;
  color: black;
  font-size: 16px;
  width: 110px;
  background-color: white;
}
.user-profile #log-in:hover {
  /* filter: brightness(200%); */
  transform: scale(0.98);
  color: black;
}
/* main body part starts here */
.body {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 4rem 1.5rem;
  background-color: var(--bg-primary);
  border-radius: 0.5rem;
  z-index: 0;
}
.song-genre {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}
.genres {
  display: flex;
  flex-direction: column;
  background-color: #26856b;
  border-radius: 0.5rem;
  width: 188px;
  padding: 1rem;
  overflow: hidden;
  height: 200px;
}
.genres:hover {
  cursor: pointer;
  transform: scale(0.98);
}

.genres h2 {
  color: white;
}
.genres img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  /* position: fixed; */
  /* overflow: hidden; */
  margin-left: 7rem;
  margin-top: 5rem;
  transform: rotate(30deg);
}
/* footer */
.search-container-footer {
  display: flex;
  background-color: var(--bg-primary);
  flex-direction: column;

  padding: 2rem;
}
.site-maps-search {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}
.company,
.communities,
.useful-links {
  display: flex;
  color: #b3b3b3;
  gap: 1rem;
  padding-bottom: 2rem;
  flex-direction: column;
}
.social {
  display: flex;
  gap: 2rem;
}
.social a > i {
  text-decoration: none;
  background-color: var(--bg-header);
  padding: 0.5rem;
  border-radius: 50%;
}
.fa-instagram,
.fa-twitter,
.fa-facebook {
  color: white;
}
.copyright {
  padding-top: 2rem;
  color: #b3b3b3;
}

.useful-links span:nth-child(1) {
  color: white;
}
.company span:nth-child(1) {
  color: white;
}
.communities span:nth-child(1) {
  color: white;
}
.fa-flip-horizontal {
  color: grey;
}

#songs {
  display: flex;
  align-items: center;
  padding-top: 6rem;
  justify-content: space-between;
  padding-bottom: 2rem;
  gap: 3rem;
  background-image: linear-gradient(#1e1258, #121212, #121212, #121212);
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.track {
  display: flex;
  justify-content: space-between;
}
.track-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--bg-primary);
  padding: 1rem 1.5rem;
  justify-content: center;
  width: 350px;
  border: 1px solid rgb(59, 59, 59);
  height: 100px;
  border-radius: 0.5rem;
}
.track-info p:nth-child(1) {
  font-size: 25px;
  background-image: linear-gradient(to right, #ff6600, #ff0000, #6600cc);
  background-clip: text;
  -webkit-background-clip: text; /* For some older browsers like Safari */
  color: transparent;
  display: inline;
}
.track-info p:nth-child(2) {
  font-size: 20px;
}
.track-info p:nth-child(3) {
  font-size: 15px;
  color: grey;
}

@media (max-width: 2210px) {
  .genres {
    width: 200px;
  }

  .genres img {
    margin-left: 8rem;
  }
}
