body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Sidebar Styles */
.sidebar {
    background-color: #000;
    height: 100vh;
    padding: 5vw 2.5vw;
    position: fixed;
    overflow: auto;
    font-size: 1.4vw;
    color: #b3b3b3;
}

.sidebar .logo a {
    text-decoration: none;
}

.sidebar .logo a img {
    width: 9vw;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-top: 2vw;
}

.sidebar ul a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.sidebar ul a .not-selected-tab {
    padding: 0.53vw 0 0.53vw 1.17vw;
    cursor: pointer;
    border-radius: 4px;
    color: #cacaca;
    font-size: 11pt;
    transition: 0.3s;
}

.sidebar ul a .not-selected-tab:hover,
.sidebar ul a .not-selected-tab.active {
    color: white;
    transition: 0.3s;
}

.sidebar ul a .selected-tab {
    color: white;
    padding: 0.53vw 0 0.53vw 1.17vw;
    cursor: pointer;
    border-radius: 4px;
    font-size: 11pt;
    transition: 0.3s;
}

.navbaricon {
    filter: invert(100%);
    width: 1em;
    height: 1em;
}

/* Playlist Container Styles */
#playlist-container {
    margin-left: 17vw;
    color: white;
    font-size: 11pt;
}

.playlist-header {
    display: flex;
    align-items: flex-end;
    padding: 1vw;
    background-color: #181818;
}

.playlist-cover-img {
    width: 15vw;
    height: 15vw;
    border-radius: 0;
    margin-right: 2.5vw;
}

.playlist-info {
    flex-grow: 1;
    /* Allow playlist info to fill the available space */
}

.playlist-info h1 {
    font-size: 14pt;
    margin-bottom: 0.2vw;
}

.playlist-info .playlist-owner {
    color: #b3b3b3;
    /* Light grey color for secondary text */
    font-size: 11pt;
}

.playlist-info .playlist-total-songs {
    color: #b3b3b3;
    /* Light grey color for secondary text */
}

/* Song List Styles */
.songs-list {
    padding: 1.5vw;
    /* Padding on the sides */
    display: flex;
    flex-direction: column;
}

.song {
    display: grid;
    grid-template-columns: 0.5vw 20vw 20vw 10vw auto;
    /* Three columns: number, title & artist, duration */
    grid-gap: 1vw;
    align-items: center;
    padding: 1vw 0;
    border-bottom: 0.1vw solid #333;
    /* Lighter border color */
    cursor: pointer;
    font-size: 10pt;
}

.song-number {
    color: #b3b3b3;
    /* Light grey color */
}

.song-title,
.song-artist,
.song-album {
    color: #fff;
    /* White color for text */
    padding: 0 1vw;
}

.song-duration {
    color: #b3b3b3;
    text-align: right;
}

#audio-player {
    width: calc(100% - 2.5vw);
    height: calc(7vw - 1.75vw);
    background-color: #181818;
    border-radius: 0.5vw;
    align-items: center;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: none;
    position: fixed;
    padding: 1.5vw;
}


#actual-audio {
    display: none;
    width: 0;
    height: 0;
}

.play-btn {
    width: 2.5vw;
    height: 2.5vw;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-container {
    width: 60%;
    height: 5px;
    background-color: #777;
    /* lighter shade */
    cursor: pointer;
    position: relative;
    bottom: 20px;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #0f0;
    position: absolute;
}

.song-img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 5px;
}

.pl-cont1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pl-cont1 h1 {
    font-size: 10pt;
    color: white;
    font-weight: 800;
}

.pl-cont1 h2 {
    font-size: 10pt;
    color: #cacaca;
    font-weight: 400;
}

.pl-cont2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pl-cont2 .heart {
    width: 1vw;
    height: 1vw;
}

.pl-cont3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pl-cont4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pl-cont4 img {
    width: 1vw;
    object-fit: contain;
    filter: invert(100%);
}

.pl-cont5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pl-cont5 img {
    width: 1vw;
    object-fit: contain;
    filter: invert(100%);
}

.pl-cont6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pl-cont6 img {
    width: 1vw;
    object-fit: contain;
    filter: invert(100%);
}

.pl-cont7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pl-cont7 img {
    width: 1vw;
    object-fit: contain;
    filter: invert(100%);
}

.pl-cont8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pl-cont8 img {
    width: 6vw;
    object-fit: contain;
    filter: invert(100%);
}

.pl-cont9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pl-cont9 img {
    width: 1vw;
    object-fit: contain;
    filter: invert(100%);
}

#stopplay {
    width: 1vw;
    height: 1vw;
}

.iconup {
    width: 1vw;
    height: 1vw;
    filter: invert(100%);
    object-fit: contain;
}

.skip-cont {
    display: grid;
    grid-template-columns: 1vw 1vw 2.5vw 1vw 1vw;
    grid-column-gap: 0.7vw;
    align-items: center;
    margin-bottom: 2.7vw;
}


@media screen and (max-width: 768px) {
    .sidebar {
        padding: 2vw;
        font-size: 1.2vw;
    }

    #playlist-container {
        margin-left: 20vw;
    }

    .sidebar ul a .not-selected-tab,
    .sidebar ul a .selected-tab {
        padding: 1vw 0 1vw 2.34vw;
        font-size: 6pt;
    }

    .playlist-cover-img {
        width: 10vw;
        height: 10vw;
    }

    .song {
        grid-template-columns: 5vw 20vw 20vw 15vw auto;
        font-size: 5pt;
    }

    #audio-player {
        width: calc(100% - 5vw);
        height: calc(7vw - 1vw);
        padding: 1vw;
    }

    .play-btn,
    .progress-container,
    .progress,
    .song-img {
        width: 1.5vw;
        height: 1.5vw;
    }

    .pl-cont1 h1,
    .pl-cont1 h2,
    .pl-cont8 img {
        width: 2.5vw;
    }


}